
<nav class="navbar navbar-light" style="background-color: #AFE1FF">
    <div class = "container-fluid ">
        <div class = "navbar-header" style = "font-family:'Comic Sans MS';">
            <div class = "navbar-brand">CoCo</div>
        </div>
        <ul class = "nav navbar-nav" style = "font-family:'口力口體';" >
            <li class = "active"><a href = "/">首頁</a></li>
            <li><a href="/activity/">找活動</a></li>
            <li><a href="/company/">找贊助</a></li>
            <li><a href = "/company/create/">發布贊助</a></li>
            <li><a href = "/activity/create/">發布活動</a></li>
        </ul>
        <ul class = "nav navbar-nav navbar-right">
            {% if username%}
            <li><a href="/userinfo/">{{username}} 個人資料</a></li>
            <li><a href="/logout/">登出</a></li>
            {% else %}
            <li><a href="/login/">登入</a></li>
            {% endif %}
        </ul>

    </div>
</nav>