{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 60px); background-color: #e9ecef;">
    <div class="card p-3 shadow-lg" style="max-width: 350px; width: 100%; max-height: 85vh; overflow-y: auto; border-radius: 10px;">
        <div class="text-center mb-2">
            <h4 class="fw-bold text-primary">註冊新帳號</h4>
        </div>
        <div class="d-grid mb-2">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger btn-sm rounded-pill">
                <i class="fab fa-google me-2"></i> 使用 Google 註冊
            </a>
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
                <label for="username" class="form-label">使用者名稱</label>
                {{ form.username|add_class:"form-control form-control-sm" }}
            </div>
            <div class="mb-2">
                <label for="email" class="form-label">電子郵件</label>
                {{ form.email|add_class:"form-control form-control-sm" }}
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">密碼</label>
                {{ form.password|add_class:"form-control form-control-sm" }}
                <div class="form-text">請設定至少8碼，並且英數混和的密碼</div>
            </div>
            <div class="mb-2">
                <label for="password_confirm" class="form-label">確認密碼</label>
                {{ form.password_confirm|add_class:"form-control form-control-sm" }}
            </div>
            <div class="mb-2">
                <label for="photo" class="form-label">上傳照片</label>
                {{ form_userprofile.photo|add_class:"form-control form-control-sm" }}
            </div>
            <div class="mb-2">
                <label for="description" class="form-label">自我描述</label>
                {{ form_userprofile.description|add_class:"form-control form-control-sm" |attr:"style:height:80px;" }}
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">選擇身分</label>
                <select name="role" class="form-select form-select-sm">
                    <option value="brand">品牌方</option>
                    <option value="organization">社團方</option>
                </select>
                <div class="form-text">選擇適合的身份來完成註冊。</div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm w-100 rounded-pill py-2">註冊</button>
        </form>

        <div class="card-footer text-center mt-2">
            <small>已經有帳號了嗎？ <a href="{% url 'login' %}">登入</a></small>
        </div>
    </div>
</div>
{% endblock %}
